/**
 * 全局样式修改,第三方UI组件样式修改。
 */

@import './variables.scss';

@import './keyframe.scss';

@import './mixin.scss';

@import './fix/index.scss';
//-------------------全局样式修改------------------------------

@include colorpalette($baseColor, base)
@include colorpalette($lightColor, light)
@include colorpalette($darkColor, dark)
@include colorpalette($assertive, assert)
@include colorpalette($positive, positive)


@include fadeInFromBottom(contentFadeIn, 70px) 
@include fadeInFromBottom(itemFadeIn, 70px) 


span,div{
    &[big]{
        font-size: 120%;
    }

    &[fore] {
        color: $foreColor;
    }
    &[fore-dark] {
        color: darken($foreColor,15%);
    }
    &[assert] {
        color: $assertive;
    }
    &[dis] {
        color: $disable;
    }
}



div,section{
    &[ellipsis]{
        overflow: hidden;text-overflow:ellipsis;white-space: nowrap;
    }
    &[bgi-normal]{
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }

    &[column] {
        @include column;
    }

    &[row] {
        @include row;
    }

    &[width-full] {
        width: 100%;
    }

    &[height-full] {
        height: 100%;
    }
}

.flex-row{
    display: flex;flex-direction: row;
    &.flex-left{
        justify-content: flex-start;
    }
    &.flex-right{
        justify-content: flex-end;
    }
    &.ver-center{
        align-items: center;
    }
    &.hor-center{
        justify-content: center;
    }
    &.center{
        align-items: center;
        justify-content: center;
    }
    &.flex-top{
        align-items: flex-start;
    }
    &.flex-bottom{
        align-items: flex-end;
    }
}
.flex-column{
    display: flex;flex-direction: column;
    &.flex-left{
        align-items: flex-start;
    }
    &.flex-right{
        align-items: flex-end;
    }
    &.ver-center{
        justify-content: center;
    }
    &.hor-center{
        align-items: center;
    }
    &.center{
        align-items: center;
        justify-content: center;
    }
    &.flex-top{
        justify-content: flex-start;
    }
    &.flex-bottom{
        justify-content: flex-end;
    }
}

.over-hidden{
    overflow: hidden
}
.no-select{
    -moz-user-select:none;/* 火狐 */

    -webkit-user-select:none;/*webkit 浏览器 */

    -ms-user-select:none;/*IE10*/

    -khtml-user-select:none;/* 早期浏览器 */

    user-select:none;
   
}
.lay-lump{
    background-color: rgba($darkColor,.1);
}
.no-margin{
    margin:0 0;
}
.no-padding{
    padding:0 0;
}
.full-width{
    width: 100%;

}
.full-height{
    height: 100%;
}
.full-size{
    width: 100%;
    height: 100%;
}
.absolute-center{
    position: absolute;
    left:50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
}

input,
text,
button,
div,
span,
li,
ul,
i {
    user-select: none!important;
}


body {
    color: $lightColor;
    font-weight: 400;
    background-color: #fff;
    font-size: 16px;
    -moz-user-select: none;
    /* 火狐 */
    -webkit-user-select: none;
    /*webkit 浏览器 */
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /* 早期浏览器 */
    user-select: none;
    // .iconfont {
    //     font-family: "iconfont" !important;
    //     font-style: normal;
    //     -webkit-font-smoothing: antialiased;
    //     -webkit-text-stroke-width: 0.2px;
    //     -moz-osx-font-smoothing: grayscale;
    // }
}

.model{
        position: absolute;left:0;top:0;right:0;bottom:0;
        background-color: transparentize(#000,0.3)
}



